// For reference
// http://foundation.zurb.com/docs/v/3.2.5/sass-settings.php

$red: #C00404
$yellow: #FC0
$brown: #3A1E1A
$tan: #CCC6B7
$black: #363636



$primary-color: $red
$secondary-color: $tan

$body-font-family: "Open Sans", "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif
$body-font-color: $black

$header-font-family: 'Arvo', serif, $body-font-family
$header-font-weight: normal

$topbar-bg-color: $brown
$topbar-bg: $topbar-bg-color

$topbar-height: 45px
$topbar-margin-bottom: 1em


@import "info"
@import "bower_components/foundation/scss/normalize.scss"
@import "bower_components/foundation/scss/foundation.scss"

body
	-webkit-backface-visibility: hidden


// Fix for admin bar
#wpadminbar
	@media screen and (max-width:600px)
		top: -46px !important

footer
	background: $tan
	min-height: 100px
	padding: 2em 0em

aside nav
	@extend .panel
	
	h2
		border-bottom: 1px solid rgba(0, 0, 0, 0.13)
		padding-bottom: 0.25em

	ul
		list-style-type: none

.bottom-widgets
	background: $brown
	padding-top: 1em
	
	h5
		color: $yellow

	p, ul, abbr
		color: white


main.full-width
	position: relative
	bottom: 20px

div.css-search
	display: none

.em-location-map-container
	width: 100% !important


body.login
	

	h1 a
		background: url('bulac-black-white-small.png')
		background-size: 100% 100%
		height: 100px
		width: 108px

	#wp-submit
		background: $red
		border: 1px solid #A80B0B

	#rememberme
		position: relative
		top: 5px